.container {
    text-align: center;
    margin-top: 50px
}

body {
    background-image: linear-gradient(to right, aquamarine, violet);

}

table {
    margin: auto;
}

input {
    border-radius: 21px;
    border: 5px solid rgb(115, 83, 83);
    font-size: 34px;
    height: 55px;
    width: 400px;
}

button {
    border-radius: 20px;
    font-size: 40px;
    background: #978fa0;
    border: 3px solid rgb(115, 83, 83);
    width: 80px;
    height: 70px;
    margin: 6px;
}

.calculator {
    border: 4px solid rgb(115, 83, 83);
    background-image: linear-gradient(to right, aquamarine, violet);
    padding: 23px;
    border-radius: 45px;
    display: inline-block;
    box-shadow: 0 8px 50px -7px black;


}